<%- include("partials/header.ejs") %>
  <section class="container_todolist">
    <div class="heading">
      <img class="heading__img" src="pictures/list-list-svgrepo-com.png">
      <h1 class="heading__title">To-Do List</h1>
    </div>
    <div class="todolist_container">

      <form class="form" action="/add" method="POST" id="form">

        <div>

          <label class="form__label" for="todo">~ Today I need to ~</label>

          <input class="form__input" name="newItem" type="text" size="30" autocomplete="off" required autofocus>

          <button class="button"><span>Submit</span></button>

        </div>

      </form>

      <ul class="toDoList">
        <% for(let item of listItems){%>
          <div class="item">
            <li id="title<%=item.id%>">
              <%= item.title %>
            </li>

            <form class="delete" action="/delete" method="post">

              <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">

            </form>
            <form class="edit" action="/edit" method="post">

              <input type="hidden" name="updatedItemId" value="<%= item.id %>">

              <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>"
                autocomplete="off" autofocus="true" hidden="true" />

              <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon"
                  src="pictures/icons/select.png" alt="tick image"></button>

            </form>

            <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon"
                src="pictures/icons/edit-button.png" alt="pencil image"></button>

          </div>
          <% } %>
      </ul>
    </div>
  </section>

  <%- include("partials/footer.ejs") %>

    <!-- Calling for JS script only for editing todo-list items -->
    <%- include("../public/script.ejs") %>